html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cairo;
  color: #252525;
  direction: rtl;
  background: #f6f7fb !important;
}
.white-bar{
  background-color: white;
}
.scan-icon-bar {
  background: url("../public/scan.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30px;
}
.pilgrims-icon-bar {
  background: url("../public/pilgrims.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30px;
}
.employees-icon-bar {
  background: url("../public/employee.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30px;
}
.two-icon-bar {
  background: url("../public/two.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30px;
}
.more-icon-bar {
  background: url("../public/morethree.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30px;
}
.icon-bar{
  background: url("../public/persons.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
        background-size: 30px;
}
.small-card-body{
      background-color: #f6f6f6;
}
.main-row{
  text-align: center  ;
}
.madar-card-header{
  background-color: #dbbd80;
    color: white;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}
.madar-card-body{
      background-color: white;
        border-radius: 0px 0px 8px 8px;
        border: 3px solid #f2ece0;
          border-top: 0px;
}
.add-margin{
  margin-right: 8px!important;
    margin-left: 8px!important;
}
.entry-icon{
height: 37px;
  padding: 8px;
  background-color: #c6a162;
  border-radius: 50%;
  margin: 4px;
}
.slim-bar{
  margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.row{
      --bs-gutter-x: 0!important;
}
.card-container{
  padding: 8px!important;
    background-color: #f2ece0!important;
    margin-left: 8px!important;
    margin-right: 8px!important;
}
.card{
      border: 0px!important;
}
.entry-date{
  font-family: Cairo;
  color: #b4966d;
  text-align: right;
  padding-right: 22px !important;
      font-size: 14px;
}
.main-header{
      
        font-weight: bold;
        font-size: 25px;
}
.container{
  margin-top: 16px!important;
}
span,.alert{
  font-family: Cairo!important;
}
@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1055px!important;
  }
}
.pilgrim-image{
    height: 50px;
      width: 102px;
  border-radius: 50%;
  min-height: 100px;
  padding: 4px;
  max-height: 150px;
  border: 1px solid #d9b772;
}
.color-header{
  color: #c39a51;
      font-size: 14px;
}
.count{
  margin-top:8px!important;
  padding-right: 16px!important;
    padding-left: 16px!important;
}
.entry-count{
      color: #b4966d;
        font-size: 32px;
        font-weight: bold;
        padding: 0px !important;
}
.count-holder{
      background-color: #f2ece0;
      padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
    
}
.left-align{
  text-align: left!important;
      padding-left: 4px !important;
}
.right-align{
  text-align: right!important;
      padding-right: 4px !important;
}
.pilgrim-name{
font-family: Cairo;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}
.pilgrim-company{
    max-height: 20px;
        border-radius: 4px;
        max-width: 100%;
        background-color: white;
          
}

.card{
  border: 0px;
  border-radius: 10px!important;
}
.card-body{
    border-radius: 10px;
}
h1.header{
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 13px;
          text-align: right;
}
.slim{
  margin-left: 0px!important;
  margin-right: 0px!important;
  padding-right: 0px!important;
  padding-left:0px!important;
  text-align: center;
}
.pilgrim-nationality{
  max-height: 30px;
      border-radius: 4px;
}
h1{
  height: 2em;
  font-family: "Cairo";
}
h6,h2{
  font-family: "Cairo";
}
.white-text{
  color: white;
}
a {
  text-decoration: none;
  color: #c39a51;
}
.nav-link:focus,
.nav-link:hover{
  color: #c39a51!important;
}
.main-content{
      margin-left: 16px!important;
        margin-right: 16px!important;
        margin-top: 16px!important;
}
.alert{
  padding: 8px!important;
}
.new-logo{
  max-height: 60px;
}
.card{
      margin: 8px;
}


h6.counter{
font-size: 30px;
    font-family: "Cairo";
    margin-bottom: 0px;
    display: inline;
    padding-left: 8px;
    font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}


/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscQyyS4J0.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscSCyS4J0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../public/SLXVc1nY6HkvangtZmpQdkhzfH5lkSscRiyS.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}