html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Cairo;
  color: #252525;
  direction: rtl;
  background: #f6f7fb !important;
}
.white-bar{
  background-color: white;
}
.icon-bar{
  background: url("../public/persons.svg");
    background-repeat: no-repeat;
    background-position: top left;
}
.entry-icon{
height: 37px;
  padding: 8px;
  background-color: #c6a162;
  border-radius: 50%;
  margin: 4px;
}
.slim-bar{
  margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.card{
      border: 0px!important;
}
.entry-date{
  font-family: Cairo;
  color: #b4966d;
  text-align: right;
  padding-right: 22px !important;
      font-size: 14px;
}
.main-header{
      text-align: right;
        font-weight: bold;
        font-size: 25px;
}
.container{
  margin-top: 16px!important;
}
span{
  font-family: Cairo;
}
@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1055px!important;
  }
}
.pilgrim-image{
height: 75%;
  width: 75%;
  border-radius: 50%;
  min-height: 100px;
  padding: 4px;
  max-height: 150px;
  border: 1px solid #d9b772;
}
.color-header{
  color: #c39a51;
}
.count{
  margin-top:8px!important;
  padding-right: 32px!important;
    padding-left: 32px!important;
}
.entry-count{
      color: #b4966d;
        font-size: 32px;
        font-weight: bold;
        padding: 0px !important;
}
.count-holder{
      background-color: #f2ece0;
      padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
}
.left-align{
  text-align: left!important;
      padding-left: 4px !important;
}
.right-align{
  text-align: right!important;
      padding-right: 4px !important;
}
.pilgrim-name{
font-family: Cairo;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
}
.pilgrim-company{
    max-height: 30px;
        border-radius: 4px;
        max-width: 100%;
        background-color: white;
          
}

.card{
  border: 0px;
  border-radius: 10px!important;
}
.card-body{
    border-radius: 10px;
}
h1.header{
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 18px;
          text-align: right;
}
.slim{
  margin-left: 0px!important;
  margin-right: 0px!important;
  padding-right: 8px!important;
  padding-left:8px!important;
  text-align: center;
}
.pilgrim-nationality{
  max-height: 30px;
      border-radius: 4px;
}
h1{
  height: 2em;
  font-family: "Cairo";
}
h6{
  font-family: "Cairo";
}
.white-text{
  color: white;
}
a {
  text-decoration: none;
  color: #c39a51;
}
.nav-link:focus,
.nav-link:hover{
  color: #c39a51!important;
}
.new-logo{
  max-height: 75px;
  
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 16px;
            position: absolute;
}
.card{
      margin: 8px;
}


h6.counter{
font-size: 40px;
    font-family: "Cairo";
    margin-bottom: 0px;
    display: inline;
    padding-left: 8px;
    font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}
